@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@layer base, utils, components;

@import "tailwindcss";

:root {
  --color-primary: #03050c;
  --color-secondary: #1c2541;
  --color-accent: #4b6688;
  --color-highlight: #5bc0be;
  --color-text: #6fffe9;

  --background: var(--color-primary);
  --foreground: var(--color-text);
  --font-geist-sans: ui-sans-serif, system-ui, sans-serif;
  --font-geist-mono: ui-monospace, SFMono-Regular, "SF Mono", Consolas,
    "Liberation Mono", Menlo, monospace;
}

html {
  background: var(--color-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), "geist mono", monospace !important;
  min-height: 100vh;
}

* {
  font-family: var(--font-geist-mono), "geist mono", monospace !important;
}
